[*.cs]

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# RS2008: Enable analyzer release tracking for the analyzer project containing rule 'WPF0001'
dotnet_diagnostic.RS2008.severity = none
