type project
developmentDependency true

releaseNotes
  BUGFIX: WPF007 don't nag when validation method is not in containing class.
  BUGFIX: WPF070 don't nag when constructor has parameters.

excludedgroups
  Main
  Analyzers

files
  bin/Release/Gu.Roslyn.AnalyzerExtensions.dll ==> analyzers/dotnet/cs
  bin/Release/Gu.Roslyn.CodeFixExtensions.dll ==> analyzers/dotnet/cs
  ../.paket/tools/*.ps1 ==> tools


