type project
developmentDependency true

releaseNotes
  BUGFIX: WPF0007 when using callback in helper class.

projectUrl https://github.com/DotNetAnalyzers/WpfAnalyzers
licenseUrl http://opensource.org/licenses/MIT

excludedgroups
  Main
  Analyzers

files
  bin/Release/Gu.Roslyn.Extensions.dll ==> analyzers/dotnet/cs
  ../.paket/tools/*.ps1 ==> tools
