type project
developmentDependency true

releaseNotes
  NEW RULES: WPF0171-176
  FEATURE: Use nameof() fix.
  BUGFIX: WPF005 warn only on virtual.
  BUGFIX WPF0070 when list.

projectUrl https://github.com/DotNetAnalyzers/WpfAnalyzers
licenseUrl http://opensource.org/licenses/MIT

excludedgroups
  Main
  Analyzers

files
  bin/Release/Gu.Roslyn.Extensions.dll ==> analyzers/dotnet/cs
  ../.paket/tools/*.ps1 ==> tools
