source http://www.nuget.org/api/v2/
framework: net452, portable-net45+win8

nuget Microsoft.CodeAnalysis.CSharp.Workspaces 1.2.2
nuget System.Collections.Immutable 1.1.37
nuget System.Reflection.Metadata 1.2.0
nuget Microsoft.Composition 1.0.27

group Analyzers
  source http://www.nuget.org/api/v2/
  framework: net452
  nuget StyleCop.Analyzers
  nuget Gu.Analyzers
  nuget WpfAnalyzers
  nuget AsyncUsageAnalyzers
  nuget JetBrains.Annotations
  nuget Microsoft.CodeAnalysis.Analyzers

group Test
  source http://www.nuget.org/api/v2/
  framework: net452
  nuget NUnit
  