storage: none
source http://www.nuget.org/api/v2/
nuget Microsoft.CodeAnalysis.CSharp.Workspaces 1.2.1 strategy: min

group Analyzers
  storage: none
  source http://www.nuget.org/api/v2/
  nuget StyleCop.Analyzers
  nuget Gu.Analyzers
  nuget AsyncUsageAnalyzers

group Benchmarks
  storage: none
  source http://www.nuget.org/api/v2/
  nuget BenchmarkDotNet.Diagnostics.Windows
  nuget Microsoft.CodeAnalysis.CSharp.Workspaces
  nuget Gu.Roslyn.Asserts
  nuget NUnit

group Test
  storage: none
  source http://www.nuget.org/api/v2/
  nuget Microsoft.CodeAnalysis.CSharp.Workspaces 1.2.1 strategy: min
  nuget Gu.Roslyn.Asserts
  nuget NUnit

group Build
  storage: none
  source http://www.nuget.org/api/v2/
  nuget Microsoft.VSSDK.BuildTools
  